* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  background-color: rgb(200, 159, 238);
}

main {
  background-color: white;
  width: 800px;
  margin: auto;
  padding: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.416);
}

h1 {
  font-size: 2em;
  color: blue;
}

img.lado {
  float: right;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: blue;
}

a:hover {
  text-decoration: underline;
  color: rgb(28, 28, 152);
}
